body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Branco */
  color: #000000; /* Preto */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ff0000; /* Azul */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: #ffffff; /* Branco */
}

h2 {
  margin: 5px 0;
  font-size: 18px;
  color: #000000; /* Preto */
}

.section {
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid #ffffff; /* Branco */
  position: relative;
}

.section:before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 2px solid #ffffff; /* Branco */
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* Branco */
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  color: #000000; /* Preto */
}

a {
  color: #0000ff; /* Azul */
}

a:hover {
  text-decoration: underline;
}
